-- CreateTable
CREATE TABLE "admin_permissions" (
    "id" SERIAL NOT NULL,
    "role" VARCHAR(20) NOT NULL,
    "resource" VARCHAR(50) NOT NULL,
    "action" VARCHAR(20) NOT NULL,
    "is_allowed" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_sessions" (
    "id" SERIAL NOT NULL,
    "admin_id" INTEGER NOT NULL,
    "session_token" VARCHAR(255) NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_address" VARCHAR(50),
    "user_agent" TEXT,

    CONSTRAINT "admin_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_users" (
    "id" SERIAL NOT NULL,
    "username" VARCHAR(50) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "full_name" VARCHAR(100) NOT NULL,
    "role" VARCHAR(20) NOT NULL DEFAULT 'admin',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "last_login" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dashboard_notifications" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(100) NOT NULL,
    "message" TEXT NOT NULL,
    "type" VARCHAR(20) NOT NULL,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "recipient_id" INTEGER,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(6),
    "action_url" TEXT,

    CONSTRAINT "dashboard_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dashboard_widgets" (
    "id" SERIAL NOT NULL,
    "admin_id" INTEGER NOT NULL,
    "widget_type" VARCHAR(50) NOT NULL,
    "widget_position" INTEGER NOT NULL,
    "widget_size" VARCHAR(20) NOT NULL DEFAULT 'medium',
    "widget_config" JSONB NOT NULL DEFAULT '{}',
    "is_visible" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "dashboard_widgets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document_uploads" (
    "id" SERIAL NOT NULL,
    "registration_id" VARCHAR(50) NOT NULL,
    "appointment_letter_path" VARCHAR(255) NOT NULL,
    "educational_certificates_path" VARCHAR(255) NOT NULL,
    "promotion_letter_path" VARCHAR(255),
    "other_documents_path" VARCHAR(255),
    "profile_image_path" VARCHAR(255) NOT NULL,
    "signature_path" VARCHAR(255) NOT NULL,
    "upload_date" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" VARCHAR(32),

    CONSTRAINT "document_uploads_pkey" PRIMARY KEY ("id")
);

CREATE TABLE "employees" (
    "id" VARCHAR(20) NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "department" VARCHAR(100) NOT NULL,
    "position" VARCHAR(100) NOT NULL,
    "status" VARCHAR(20) NOT NULL DEFAULT 'active',
    "join_date" DATE NOT NULL DEFAULT CURRENT_DATE,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "registration_id" TEXT,
    "metadata" JSONB,

    CONSTRAINT "employees_pkey" PRIMARY KEY ("id")
);


-- CreateTable
CREATE TABLE "employment_info" (
    "id" SERIAL NOT NULL,
    "registration_id" VARCHAR(50) NOT NULL,
    "employment_id_no" VARCHAR(50) NOT NULL,
    "service_no" VARCHAR(50) NOT NULL,
    "file_no" VARCHAR(50) NOT NULL,
    "rank_position" VARCHAR(100) NOT NULL,
    "department" VARCHAR(100) NOT NULL,
    "organization" VARCHAR(200) NOT NULL,
    "employment_type" VARCHAR(50) NOT NULL,
    "probation_period" VARCHAR(20) NOT NULL,
    "work_location" VARCHAR(100) NOT NULL,
    "date_of_first_appointment" DATE NOT NULL,
    "gl" VARCHAR(10) NOT NULL,
    "step" VARCHAR(10) NOT NULL,
    "salary_structure" VARCHAR(20) NOT NULL,
    "cadre" VARCHAR(50) NOT NULL,
    "name_of_bank" VARCHAR(100) NOT NULL,
    "account_number" VARCHAR(20) NOT NULL,
    "pfa_name" VARCHAR(100) NOT NULL,
    "rsapin" VARCHAR(50) NOT NULL,
    "educational_background" TEXT,
    "certifications" TEXT,

    CONSTRAINT "employment_info_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_tokens" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "password_reset_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pending_employees" (
    "id" SERIAL NOT NULL,
    "registration_id" TEXT DEFAULT (gen_random_uuid())::text,
    "surname" TEXT NOT NULL,
    "firstname" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "department" TEXT,
    "position" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending_approval',
    "source" TEXT NOT NULL DEFAULT 'form',
    "submission_date" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "missing_fields" JSONB,
    "metadata" JSONB,

    CONSTRAINT "pending_employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "personal_info" (
    "id" SERIAL NOT NULL,
    "registration_id" VARCHAR(50) NOT NULL,
    "title" VARCHAR(10) NOT NULL,
    "surname" VARCHAR(100) NOT NULL,
    "first_name" VARCHAR(100) NOT NULL,
    "other_names" VARCHAR(100),
    "phone_number" VARCHAR(20) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "date_of_birth" DATE NOT NULL,
    "sex" VARCHAR(10) NOT NULL,
    "marital_status" VARCHAR(20) NOT NULL,
    "state_of_origin" VARCHAR(50) NOT NULL,
    "lga" VARCHAR(100) NOT NULL,
    "state_of_residence" VARCHAR(50) NOT NULL,
    "address_state_of_residence" TEXT NOT NULL,
    "next_of_kin_name" VARCHAR(200) NOT NULL,
    "next_of_kin_relationship" VARCHAR(50) NOT NULL,
    "next_of_kin_phone_number" VARCHAR(20) NOT NULL,
    "next_of_kin_address" TEXT NOT NULL,

    CONSTRAINT "personal_info_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "registration_comments" (
    "id" SERIAL NOT NULL,
    "registration_id" VARCHAR(50) NOT NULL,
    "comment_text" TEXT NOT NULL,
    "author" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "registration_comments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "registration_history" (
    "id" SERIAL NOT NULL,
    "registration_id" VARCHAR(50),
    "action" VARCHAR(50) NOT NULL,
    "details" TEXT,
    "performed_by" VARCHAR(100),
    "performed_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "registration_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "registrations" (
    "id" VARCHAR(20) NOT NULL DEFAULT nextval('registrations_id_seq'::regclass),
    "registration_id" VARCHAR(50) NOT NULL DEFAULT gen_random_uuid(),
    "status" VARCHAR(20) NOT NULL DEFAULT 'draft',
    "current_step" VARCHAR(20) NOT NULL DEFAULT 'verification',
    "declaration" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submitted_at" TIMESTAMP(6),
    "approved_at" TIMESTAMP(6),
    "rejected_at" TIMESTAMP(6),
    "nin" TEXT,

    CONSTRAINT "registrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationData" (
    "id" TEXT NOT NULL,
    "nin" TEXT,
    "vnin" TEXT,
    "title" TEXT,
    "surname" TEXT,
    "email" TEXT,
    "gender" TEXT,
    "state_of_origin" TEXT,
    "religion" TEXT,
    "profession" TEXT,
    "residence_address" TEXT,
    "residence_lga" TEXT,
    "residence_state" TEXT,
    "nok_surname" TEXT,
    "nok_lga" TEXT,
    "nok_state" TEXT,
    "nok_town" TEXT,
    "maiden_name" TEXT,
    "tracking_id" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "birthcountry" TEXT,
    "birthdate" TEXT,
    "birthlga" TEXT,
    "birthstate" TEXT,
    "central_iD" TEXT,
    "educationallevel" TEXT,
    "employmentstatus" TEXT,
    "firstname" TEXT,
    "heigth" TEXT,
    "lga_origin" TEXT,
    "maritalstatus" TEXT,
    "middlename" TEXT,
    "nok_address1" TEXT,
    "nok_address2" TEXT,
    "nok_firstname" TEXT,
    "nok_middlename" TEXT,
    "nok_postalcode" TEXT,
    "nspokenlang" TEXT,
    "ospokenlang" TEXT,
    "pfirstname" TEXT,
    "photo" TEXT,
    "pmiddlename" TEXT,
    "psurname" TEXT,
    "residence_AdressLine1" TEXT,
    "residence_Town" TEXT,
    "residencestatus" TEXT,
    "self_origin_lga" TEXT,
    "self_origin_place" TEXT,
    "self_origin_state" TEXT,
    "signature" TEXT,
    "spoken_language" TEXT,
    "telephoneno" TEXT,
    "userid" TEXT,
    "registration_id" VARCHAR(20) NOT NULL,

    CONSTRAINT "VerificationData_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "accountName" TEXT NOT NULL,
    "accountNumber" TEXT NOT NULL,
    "bankName" TEXT NOT NULL,
    "accountType" TEXT NOT NULL,
    "currency" TEXT NOT NULL,
    "balance" DOUBLE PRECISION NOT NULL,
    "openingDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL,
    "branchCode" TEXT,
    "swiftCode" TEXT,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "previousBalance" DOUBLE PRECISION,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employee_payments" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employee_id" UUID NOT NULL,
    "payment_type" VARCHAR(50) NOT NULL,
    "payment_method" VARCHAR(50) NOT NULL,
    "payment_date" DATE NOT NULL,
    "basic_salary" DECIMAL(12,2) DEFAULT 0,
    "house_rent_allowance" DECIMAL(12,2) DEFAULT 0,
    "medical_allowance" DECIMAL(12,2) DEFAULT 0,
    "travel_allowance" DECIMAL(12,2) DEFAULT 0,
    "dearness_allowance" DECIMAL(12,2) DEFAULT 0,
    "provident_fund" DECIMAL(12,2) DEFAULT 0,
    "income_tax" DECIMAL(12,2) DEFAULT 0,
    "health_insurance" DECIMAL(12,2) DEFAULT 0,
    "loan_deduction" DECIMAL(12,2) DEFAULT 0,
    "comments" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "employee_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "salary_budget" (
    "id" SERIAL NOT NULL,
    "staff_id" VARCHAR(50),
    "legacy_id" VARCHAR(50),
    "full_name" VARCHAR(150),
    "job_title" VARCHAR(100),
    "command" VARCHAR(100),
    "zone" VARCHAR(100),
    "location" VARCHAR(100),
    "unit" VARCHAR(100),
    "reference_id" VARCHAR(50),
    "grade" VARCHAR(20),
    "grade_step" VARCHAR(10),
    "bank_name" VARCHAR(100),
    "account_number" VARCHAR(30),
    "pension_administrator" VARCHAR(100),
    "pension_pin" VARCHAR(50),
    "tax" VARCHAR(50),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "tax_id" VARCHAR(100),
    "basic_non_salary" DECIMAL,
    "basic_salary" DECIMAL,
    "conhess_shift_allowance" DECIMAL,
    "conmess_call_duty" DECIMAL,
    "conmess_minimum_wage" DECIMAL,
    "conmess_non_clinical" DECIMAL,
    "conposs_minimum_wage" DECIMAL,
    "conpss_minimum_wage" DECIMAL,
    "conpss_peculiar" DECIMAL,

    CONSTRAINT "salary_budget_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "admin_permissions_role_resource_action_key" ON "admin_permissions"("role", "resource", "action");

-- CreateIndex
CREATE UNIQUE INDEX "admin_sessions_session_token_key" ON "admin_sessions"("session_token");

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_username_key" ON "admin_users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "admin_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "document_uploads_registration_id_key" ON "document_uploads"("registration_id");

-- CreateIndex
CREATE UNIQUE INDEX "employees_email_key" ON "employees"("email");

-- CreateIndex
CREATE UNIQUE INDEX "employment_info_registration_id_key" ON "employment_info"("registration_id");

-- CreateIndex
CREATE UNIQUE INDEX "password_reset_tokens_user_id_key" ON "password_reset_tokens"("user_id");

-- CreateIndex
CREATE INDEX "idx_password_reset_tokens_token" ON "password_reset_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "pending_employees_registration_id_key" ON "pending_employees"("registration_id");

-- CreateIndex
CREATE UNIQUE INDEX "personal_info_registration_id_key" ON "personal_info"("registration_id");

-- CreateIndex
CREATE UNIQUE INDEX "registrations_registration_id_key" ON "registrations"("registration_id");

-- CreateIndex
CREATE UNIQUE INDEX "registrations_nin_key" ON "registrations"("nin");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationData_nin_key" ON "VerificationData"("nin");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationData_registration_id_key" ON "VerificationData"("registration_id");

-- AddForeignKey
ALTER TABLE "admin_sessions" ADD CONSTRAINT "admin_sessions_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "dashboard_notifications" ADD CONSTRAINT "dashboard_notifications_recipient_id_fkey" FOREIGN KEY ("recipient_id") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "dashboard_widgets" ADD CONSTRAINT "dashboard_widgets_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "document_uploads" ADD CONSTRAINT "document_uploads_registration_id_fkey" FOREIGN KEY ("registration_id") REFERENCES "registrations"("registration_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "employment_info" ADD CONSTRAINT "employment_info_registration_id_fkey" FOREIGN KEY ("registration_id") REFERENCES "registrations"("registration_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "password_reset_tokens" ADD CONSTRAINT "password_reset_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "personal_info" ADD CONSTRAINT "personal_info_registration_id_fkey" FOREIGN KEY ("registration_id") REFERENCES "registrations"("registration_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "registration_comments" ADD CONSTRAINT "registration_comments_registration_id_fkey" FOREIGN KEY ("registration_id") REFERENCES "registrations"("registration_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "registration_history" ADD CONSTRAINT "registration_history_registration_id_fkey" FOREIGN KEY ("registration_id") REFERENCES "registrations"("registration_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VerificationData" ADD CONSTRAINT "fk_verification_registration_id" FOREIGN KEY ("registration_id") REFERENCES "registrations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

